body {
    background-color: rgb(22, 21, 23);
    color: lightgray;
}

.theme-colors {
    color: lightgray;
    background-color: rgba(40, 40, 40);
}

.square-colors {
    background-color: rgb(50, 50, 50);
    border: thin solid;
    border-color: rgb(90, 90, 90);
    stroke: white;
}

.square-colors2 {
    background-color: rgb(50, 50, 50);
    border: thin solid;
    border-color: rgb(90, 90, 90);
    stroke: rgb(0, 90, 0);
}
  
:root {
	--color-1: rgb(5, 187, 5);
	--color-2: #131313;
	--color-3: #e5e5e5;

	--color-blue: #9999F7;
	--color-gray: gray;
	--color-black: black;
	--color-white: white;

	--color-border: #555555;
	--color-hr: #555555;

	--color-code-bg:  rgba(20, 20, 20);
	--color-code-fg: var(--color-1);
  --color-bg-1:  rgba(60, 60, 60);
  --color-bg-2:  rgba(30, 30, 30);
  --color-fg-1: white;

	--color-blockquote-bg: #080808;
	--color-blockquote-fg: var(--color-1);
}

.button-7:disabled {
	background-color:rgb(50, 50, 50);
	color: rgb(150, 150, 150);
	opacity: 1;
	pointer-events: none;
}

.button-7 {
  background-color: rgba(55, 55, 55, .1);
  border: thin solid rgba(255, 255, 255, .2);
  border-radius: 0.1rem;
  /*button-7box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;*/
  box-sizing: border-box;
  color: lightgray;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0.1rem;
  outline: none;
  padding: .1rem .1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  /*user-select: none; why ???
  -webkit-user-select: none;*/
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: rgb(0, 0, 0);
}

.button-7:focus {
  box-shadow: 0 0 0 .1rem rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #081016;
  box-shadow: none;
}



