body {
    background-color: rgb(253,245,235);
    color: black;
    /*background-color: #edebe9 linear-gradient(to bottom, hsl(37, 12%, 84%), hsl(37, 10%, 92%) 116px) no-repeat;*/
}
  
.theme-colors {
    color: black;
    background-color: rgb(193, 222, 202);
}

.square-colors {
    background-color: rgb(163, 172, 162);
    border: thin solid;
    border-color: rgb(92, 92, 92);
    stroke: black;
}

.square-colors2 {
    background-color: rgb(163, 172, 162);
    border: thin solid;
    border-color: rgb(90, 90, 90, 0.2);
    stroke: rgb(140, 140, 140, 0.5);
}

:root {
	--color-1: rgb(1, 43, 1);
	--color-2: #131313;
	--color-3: #e5e5e5;

	--color-blue: #9999F7;
	--color-gray: gray;
	--color-black: black;
	--color-white: white;

	--color-border: #555555;
	--color-hr: #555555;

	--color-code-bg: rgba(200, 200, 200, 0.5);
	--color-code-fg: var(--color-1);
  --color-bg-1:  rgb(163, 192, 172);

	--color-blockquote-bg: #080808;
	--color-blockquote-fg: var(--color-1);
}

.button-7:disabled {
	background-color: rgba(200, 200, 200, 0.5);
	color: rgb(100, 100, 100);
	opacity: 1;
	pointer-events: none;
}

.button-7 {
  background-color: rgba(55, 55, 55, .1);
  border: thin solid rgba(5, 5, 5, .2);
  border-radius: 0.1rem;
  /*box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;*/
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0.1rem;
  outline: none;
  padding: .1rem .1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: rgb(55, 55, 55, .4);
}

.button-7:focus {
  box-shadow: 0 0 0 .1rem rgba(17, 17, 17, 0.15);
}

.button-7:active {
  background-color: rgb(55, 55, 55, .6);;
  box-shadow: none;
}
